* {
            background-color: #11294f;
            color: white;
            font-family: sans-serif;
        }
        a {
            text-decoration: none;
            color: #ffd700;
            font-weight: bold;
        }
        h1, h2, h3, h4, footer {
            text-align: center;
        }
        @media only screen and (min-aspect-ratio: 1/1) {
            p {
                margin: 1% 10%;
                font-size: 16px;
            }
            .disclaim {
                text-align: center;
                font-style: italic;
                color: #999;
                margin: 1% 10%;
            }
            ul {
                margin: 1% 10%;
                text-align: center;
                list-style-position: inside;
            }
            img {
                width: 80%;
                margin-left: 10%;
                border-style: solid;
                border-color: #fff;
            }
            .toc {
                width: fit-content;
                margin-left: 10%;
            }
        }
        @media only screen and (max-aspect-ratio: 1/1) {
            p {
                margin: 1% 1%;
            }
            .disclaim {
                text-align: center;
                font-style: italic;
                color: #999;
                margin: 1% 1%;
            }
            ul {
                margin: 1% 1%;
                text-align: center;
                list-style-position: inside;
            }
            
            img {
                width: 98%;
                margin-left: 1%;
                border-style: solid;
                border-color: #fff;
            }
            .toc {
                width: fit-content;
                margin: auto;
            }
        }
        table, th, td {
            border-style: solid;
            border-width: 1px;
            border-spacing: 0px;
            border-color: #999;
        }
        th {
            position: sticky;
            top: 0;
        }
        .toc {
            text-align: left;
            font-family: monospace;
            border-style: solid;
            border-width: 1px;
            border-color: #fff;
            padding: 1%;
            background-color: #081427;
        }
        .toc ul, .toc li, .toc a {
            text-align: left;
            background-color: #081427;
            list-style-type: none;
            padding: 0%;
            margin: 0%;
        }
        .toc .l2 {
            margin-left: 2em;
        }
        .code {
            text-align: left;
            font-family: monospace;
            border-style: solid;
            border-width: 1px;
            border-color: #fff;
            width: fit-content;
            margin: auto;
            padding: 1%;
            background-color: #081427;
        }